table{
    padding: 0px;
    border: 0px;
    align-self: center;
}

td {
    height:54px;
    width:54px;
    padding:0px;
    display:inline-block;
    overflow:hidden;
}

tr{
    height:30px;
    width:30px;
    padding:0px;
}

.board{
    background-color: gray;
    align-items: center;
    align-content: center;
    width: fit-content;
    margin: auto;
}

